<div style="text-align: center">

  <h1 mat-dialog-title>
    Składnik
  </h1>

  <div mat-dialog-content>

    <mat-form-field>
      <label>
        <input matInput [(ngModel)]="data.name">
      </label>
    </mat-form-field>

  </div>

  <div mat-dialog-actions>
    <div fxLayout="row" fxFlex="100" class="" fxLayoutGap="1rem">
      <button fxFlex="50" mat-flat-button color="primary" (click)="onNoClick()">Cancel</button>
      <button fxFlex="50" mat-flat-button color="accent" [mat-dialog-close]="data" cdkFocusInitial>Confirm</button>
    </div>
  </div>

</div>
