<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
  <mat-toolbar-row>
    <div fxLayout="row" fxLayoutAlign="space-between stretch" fxFlex="100">
      <div>
        RL Kreator Sałatek
      </div>

      <div *ngIf="true" fxLayout="row" fxLayoutGap="1rem">
<!--        <button mat-button routerLink="/client">client</button>-->
        <button mat-button routerLink="/cards">admin</button>
      </div>

    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div>

  <router-outlet></router-outlet>

</div>

