<div fx fxLayout="row" fxLayoutAlign="center" style="padding: 1rem">

  <div fxLayout="column" fxLayoutAlign="center none">

    <div fxLayout="row" fxLayoutAlign="center">
      <button mat-icon-button color="primary" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button mat-icon-button color='primary' (click)="openDialog({})">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="ingredients._export()">
        <mat-icon>save</mat-icon>
      </button>
    </div>

    <mat-list class="">
      <ng-container *ngFor="let ing of ingredients$ | async ; let last = last">

        <mat-list-item class="list-item">
          <div fxFlex="300px">
            <div fxLayout="row" fxLayoutAlign="space-between center">

              <div>
                <div>{{ing.name}}</div>
              </div>

              <div class="tool-icons">
                <button mat-icon-button color="primary" (click)="openDialog(ing)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color='warn'(click)="deleteIngredient(ing)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>

            </div>
          </div>
        </mat-list-item>

        <mat-divider *ngIf="!last"></mat-divider>

      </ng-container>
    </mat-list>

  </div>

</div>
